<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="xQuant.AutoUpdate.Settings.AutoUpdateSetting" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="xQuant.AutoUpdate.Settings.AutoUpdate" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <xQuant.AutoUpdate.Settings.AutoUpdateSetting>
            <setting name="APP" serializeAs="String">
                <value>ConnectionString.xeq_app</value>
            </setting>
            <setting name="Md" serializeAs="String">
                <value>ConnectionString.xeq_md</value>
            </setting>
            <setting name="Trd" serializeAs="String">
                <value>ConnectionString.xeq_trd</value>
            </setting>
            <setting name="Exh" serializeAs="String">
                <value>ConnectionString.xeq_trd_exh</value>
            </setting>
            <setting name="ConfigName" serializeAs="String">
                <value>xQuant.Run.Server.exe.config</value>
            </setting>
            <setting name="ServerProgramName" serializeAs="String">
                <value>xQuant.Run.Server.exe</value>
            </setting>
        </xQuant.AutoUpdate.Settings.AutoUpdateSetting>
        <xQuant.AutoUpdate.Settings.AutoUpdate>
            <setting name="APP" serializeAs="String">
                <value>ConnectionString.xeq_app</value>
            </setting>
            <setting name="Md" serializeAs="String">
                <value>ConnectionString.xeq_md</value>
            </setting>
            <setting name="Trd" serializeAs="String">
                <value>ConnectionString.xeq_trd</value>
            </setting>
            <setting name="Exh" serializeAs="String">
                <value>ConnectionString.xeq_trd_exh</value>
            </setting>
            <setting name="ConfigName" serializeAs="String">
                <value>xQuant.Run.Server.exe.config</value>
            </setting>
        </xQuant.AutoUpdate.Settings.AutoUpdate>
    </userSettings>
</configuration>